In [4]:
import os
import json
import pandas as pd
import mysql.connector

In [2]:
#Collecting data from aggregated_insurance

path1="K:/DS/pulse/data/aggregated/insurance/country/india/state/"

aggregated_insurance_list= os.listdir(path1)

columns1={"States":[], "Years":[], "Quarters":[], "Trans_type":[], "Trans_count":[], "Trans_amount":[]}

for state in aggregated_insurance_list:
    current_states=path1+state+"/" 
    # print(current_states)
    aggregated_year_list=os.listdir(current_states)
    # print(aggregated_year_list)

    for year in aggregated_year_list:
        current_year=current_states+year+"/"
        # print(current_year)
        aggregated_quarts_list=os.listdir(current_year)
        # print(aggregated_quarts_list)

        for quarts in aggregated_quarts_list:
            current_quarts=current_year+quarts
            data=open(current_quarts,"r")

            A = json.load(data)
            
            for i in A["data"]["transactionData"]:
                # print(i)
                name=i["name"]
                # print(name)
                count=i["paymentInstruments"][0]["count"]
                amount=i["paymentInstruments"][0]["amount"]
                columns1["Trans_type"].append(name)
                columns1["Trans_count"].append(count)
                columns1["Trans_amount"].append(amount)
                columns1["States"].append(state)
                columns1["Years"].append(year)
                columns1["Quarters"].append(int(quarts.strip(".json")))

aggregated_insurance=pd.DataFrame(columns1)

aggregated_insurance["States"]=aggregated_insurance["States"].str.replace('andaman-&-nicobar-islands', 'Andaman & Nicobar')
aggregated_insurance["States"]=aggregated_insurance["States"].str.replace("-"," ")
aggregated_insurance["States"]=aggregated_insurance["States"].str.title()
aggregated_insurance["States"]=aggregated_insurance["States"].str.replace('Dadra & Nagar Haveli & Daman & Diu','Dadra and Nagar Haveli and Daman and Diu')

In [3]:
A

{'success': True,
 'code': 'SUCCESS',
 'data': {'from': 1696098600000,
  'to': 1703701800000,
  'transactionData': [{'name': 'Insurance',
    'paymentInstruments': [{'type': 'TOTAL',
      'count': 72712,
      'amount': 100365562.0}]}]},
 'responseTimestamp': 1706092874310}

In [3]:
aggregated_insurance["States"].unique()

array(['Andaman & Nicobar', 'Andhra Pradesh', 'Arunachal Pradesh',
       'Assam', 'Bihar', 'Chandigarh', 'Chhattisgarh',
       'Dadra and Nagar Haveli and Daman and Diu', 'Delhi', 'Goa',
       'Gujarat', 'Haryana', 'Himachal Pradesh', 'Jammu & Kashmir',
       'Jharkhand', 'Karnataka', 'Kerala', 'Ladakh', 'Lakshadweep',
       'Madhya Pradesh', 'Maharashtra', 'Manipur', 'Meghalaya', 'Mizoram',
       'Nagaland', 'Odisha', 'Puducherry', 'Punjab', 'Rajasthan',
       'Sikkim', 'Tamil Nadu', 'Telangana', 'Tripura', 'Uttar Pradesh',
       'Uttarakhand', 'West Bengal'], dtype=object)

In [5]:
#Collecting data from aggregated_transaction

path2="K:/DS/pulse/data/aggregated/transaction/country/india/state/"

aggregated_transaction_list= os.listdir(path2)

columns2={"States":[], "Years":[], "Quarters":[], "Trans_type":[], "Trans_count":[], "Trans_amount":[]}

for state in aggregated_transaction_list:
    current_states=path2+state+"/" 
    # print(current_states)
    aggregated_year_list=os.listdir(current_states)
    # print(aggregated_year_list)

    for year in aggregated_year_list:
        current_year=current_states+year+"/"
        # print(current_year)
        aggregated_quarts_list=os.listdir(current_year)
        # print(aggregated_quarts_list)

        for quarts in aggregated_quarts_list:
            current_quarts=current_year+quarts
            data=open(current_quarts,"r")

            B = json.load(data)
            
            for i in B["data"]["transactionData"]:
                # print(i)
                name=i["name"]
                # print(name)
                count=i["paymentInstruments"][0]["count"]
                amount=i["paymentInstruments"][0]["amount"]
                columns2["Trans_type"].append(name)
                columns2["Trans_count"].append(count)
                columns2["Trans_amount"].append(amount)
                columns2["States"].append(state)
                columns2["Years"].append(year)
                columns2["Quarters"].append(int(quarts.strip(".json")))

aggregated_transaction=pd.DataFrame(columns2)

aggregated_transaction["States"]=aggregated_transaction["States"].str.replace('andaman-&-nicobar-islands', 'Andaman & Nicobar')
aggregated_transaction["States"]=aggregated_transaction["States"].str.replace("-"," ")
aggregated_transaction["States"]=aggregated_transaction["States"].str.title()
aggregated_transaction["States"]=aggregated_transaction["States"].str.replace('Dadra & Nagar Haveli & Daman & Diu','Dadra and Nagar Haveli and Daman and Diu')

In [6]:
B

{'success': True,
 'code': 'SUCCESS',
 'data': {'from': 1696098600000,
  'to': 1703701800000,
  'transactionData': [{'name': 'Merchant payments',
    'paymentInstruments': [{'type': 'TOTAL',
      'count': 354067997,
      'amount': 239073842398.0}]},
   {'name': 'Peer-to-peer payments',
    'paymentInstruments': [{'type': 'TOTAL',
      'count': 317959249,
      'amount': 964138540494.0}]},
   {'name': 'Recharge & bill payments',
    'paymentInstruments': [{'type': 'TOTAL',
      'count': 64920775,
      'amount': 45319429210.0}]},
   {'name': 'Financial Services',
    'paymentInstruments': [{'type': 'TOTAL',
      'count': 480740,
      'amount': 459007296.0}]},
   {'name': 'Others',
    'paymentInstruments': [{'type': 'TOTAL',
      'count': 524477,
      'amount': 404156680.0}]}]},
 'responseTimestamp': 1706092732267}

In [5]:
aggregated_transaction["States"].unique()

array(['Andaman & Nicobar', 'Andhra Pradesh', 'Arunachal Pradesh',
       'Assam', 'Bihar', 'Chandigarh', 'Chhattisgarh',
       'Dadra and Nagar Haveli and Daman and Diu', 'Delhi', 'Goa',
       'Gujarat', 'Haryana', 'Himachal Pradesh', 'Jammu & Kashmir',
       'Jharkhand', 'Karnataka', 'Kerala', 'Ladakh', 'Lakshadweep',
       'Madhya Pradesh', 'Maharashtra', 'Manipur', 'Meghalaya', 'Mizoram',
       'Nagaland', 'Odisha', 'Puducherry', 'Punjab', 'Rajasthan',
       'Sikkim', 'Tamil Nadu', 'Telangana', 'Tripura', 'Uttar Pradesh',
       'Uttarakhand', 'West Bengal'], dtype=object)

In [123]:
# aggregated_transaction=pd.DataFrame(columns2)
# aggregated_transaction
# aggregated_transaction.head()
# aggregated_transaction.describe()
# columns2

In [124]:
# {'success': True,
#  'code': 'SUCCESS',
#  'data': {'from': 1696098600000,
#   'to': 1703701800000,
#   'transactionData': [{'name': 'Merchant payments',
#     'paymentInstruments': [{'type': 'TOTAL',
#       'count': 354067997,
#       'amount': 239073842398.0}]},
#    {'name': 'Peer-to-peer payments',
#     'paymentInstruments': [{'type': 'TOTAL',
#       'count': 317959249,
#       'amount': 964138540494.0}]},
#    {'name': 'Recharge & bill payments',
#     'paymentInstruments': [{'type': 'TOTAL',
#       'count': 64920775,
#       'amount': 45319429210.0}]},
#    {'name': 'Financial Services',
#     'paymentInstruments': [{'type': 'TOTAL',
#       'count': 480740,
#       'amount': 459007296.0}]},
#    {'name': 'Others',
#     'paymentInstruments': [{'type': 'TOTAL',
#       'count': 524477,
#       'amount': 404156680.0}]}]},
#  'responseTimestamp': 1706092732267}

In [7]:
#Collecting data from aggregated_user

path3="K:/DS/pulse/data/aggregated/user/country/india/state/"

aggregated_user_list= os.listdir(path3)

columns3={"States":[], "Years":[], "Quarters":[], "Brand":[], "Count":[], "Percentage":[]}

for state in aggregated_user_list:
    current_states=path3+state+"/" 
    # print(current_states)
    aggregated_year_list=os.listdir(current_states)
    # print(aggregated_year_list)

    for year in aggregated_year_list:
        current_year=current_states+year+"/"
        #print(current_year)
        aggregated_quarts_list=os.listdir(current_year)
        #print(aggregated_quarts_list)

        for quarts in aggregated_quarts_list:
            current_quarts=current_year+quarts
            data=open(current_quarts,"r")

            C = json.load(data)
            # print(C["data"]["usersByDevice"])

            try:

                for i in C["data"]["usersByDevice"]:
                    #print(i)
                    brand=i["brand"]
                    # print(name)
                    count=i["count"]
                    percentage=i["percentage"]
                    columns3["Brand"].append(brand)
                    columns3["Count"].append(count)
                    columns3["Percentage"].append(percentage)
                    columns3["States"].append(state)
                    columns3["Years"].append(year)
                    columns3["Quarters"].append(int(quarts.strip(".json")))
            
            except:
                pass

aggregated_user=pd.DataFrame(columns3)

aggregated_user["States"]=aggregated_user["States"].str.replace('andaman-&-nicobar-islands', 'Andaman & Nicobar')
aggregated_user["States"]=aggregated_user["States"].str.replace("-"," ")
aggregated_user["States"]=aggregated_user["States"].str.title()
aggregated_user["States"]=aggregated_user["States"].str.replace('Dadra & Nagar Haveli & Daman & Diu','Dadra and Nagar Haveli and Daman and Diu')

In [8]:
C

{'success': True,
 'code': 'SUCCESS',
 'data': {'aggregated': {'registeredUsers': 30064546, 'appOpens': 1467442959},
  'usersByDevice': None},
 'responseTimestamp': 1706092807868}

In [7]:
aggregated_user["States"].unique()

array(['Andaman & Nicobar', 'Andhra Pradesh', 'Arunachal Pradesh',
       'Assam', 'Bihar', 'Chandigarh', 'Chhattisgarh',
       'Dadra and Nagar Haveli and Daman and Diu', 'Delhi', 'Goa',
       'Gujarat', 'Haryana', 'Himachal Pradesh', 'Jammu & Kashmir',
       'Jharkhand', 'Karnataka', 'Kerala', 'Ladakh', 'Lakshadweep',
       'Madhya Pradesh', 'Maharashtra', 'Manipur', 'Meghalaya', 'Mizoram',
       'Nagaland', 'Odisha', 'Puducherry', 'Punjab', 'Rajasthan',
       'Sikkim', 'Tamil Nadu', 'Telangana', 'Tripura', 'Uttar Pradesh',
       'Uttarakhand', 'West Bengal'], dtype=object)

In [127]:
# aggregated_user=pd.DataFrame(columns3)
# aggregated_user
# aggregated_user.head()
# aggregated_user.describe()

In [128]:
# C["data"]["usersByDevice"]
# columns3

In [9]:
#Collecting data from map_insurance

path4="K:/DS/pulse/data/map/insurance/hover/country/india/state/"

map_insurance_list= os.listdir(path4)

columns4={"States":[], "Years":[], "Quarters":[], "Districts":[], "Count":[], "Amount":[]}

for state in map_insurance_list:
    current_states=path4+state+"/" 
    # print(current_states)
    aggregated_year_list=os.listdir(current_states)
    # print(aggregated_year_list)

    for year in aggregated_year_list:
        current_year=current_states+year+"/"
        #print(current_year)
        aggregated_quarts_list=os.listdir(current_year)
        #print(aggregated_quarts_list)

        for quarts in aggregated_quarts_list:
            current_quarts=current_year+quarts
            data=open(current_quarts,"r")

            D = json.load(data)
            # print(C)

            for i in D["data"]["hoverDataList"]:
                    name=i["name"]
                    count=i["metric"][0]["count"]
                    amount=i["metric"][0]["amount"]
                    columns4["Districts"].append(name)
                    columns4["Count"].append(count)
                    columns4["Amount"].append(amount)
                    columns4["States"].append(state)
                    columns4["Years"].append(year)
                    columns4["Quarters"].append(int(quarts.strip(".json")))  

map_insurance=pd.DataFrame(columns4)

map_insurance["States"]=map_insurance["States"].str.replace('andaman-&-nicobar-islands', 'Andaman & Nicobar')
map_insurance["States"]=map_insurance["States"].str.replace("-"," ")
map_insurance["States"]=map_insurance["States"].str.title()
map_insurance["States"]=map_insurance["States"].str.replace('Dadra & Nagar Haveli & Daman & Diu','Dadra and Nagar Haveli and Daman and Diu')

In [10]:
D

{'success': True,
 'code': 'SUCCESS',
 'data': {'hoverDataList': [{'name': 'south twenty four parganas district',
    'metric': [{'type': 'TOTAL', 'count': 5415, 'amount': 6996283.0}]},
   {'name': 'purba bardhaman district',
    'metric': [{'type': 'TOTAL', 'count': 2666, 'amount': 3814764.0}]},
   {'name': 'uttar dinajpur district',
    'metric': [{'type': 'TOTAL', 'count': 1086, 'amount': 1639258.0}]},
   {'name': 'kalimpong district',
    'metric': [{'type': 'TOTAL', 'count': 126, 'amount': 301521.0}]},
   {'name': 'murshidabad district',
    'metric': [{'type': 'TOTAL', 'count': 2371, 'amount': 3017303.0}]},
   {'name': 'paschim medinipur district',
    'metric': [{'type': 'TOTAL', 'count': 3442, 'amount': 4688055.0}]},
   {'name': 'dakshin dinajpur district',
    'metric': [{'type': 'TOTAL', 'count': 563, 'amount': 801958.0}]},
   {'name': 'jalpaiguri district',
    'metric': [{'type': 'TOTAL', 'count': 1331, 'amount': 2021880.0}]},
   {'name': 'purulia district',
    'metric': [{'type': 'TOTAL', 'count': 976, 'amount': 1408299.0}]},
   {'name': 'north twenty four parganas district',
    'metric': [{'type': 'TOTAL', 'count': 13483, 'amount': 19211808.0}]},
   {'name': 'bankura district',
    'metric': [{'type': 'TOTAL', 'count': 1307, 'amount': 1781715.0}]},
   {'name': 'jhargram district',
    'metric': [{'type': 'TOTAL', 'count': 279, 'amount': 506882.0}]},
   {'name': 'howrah district',
    'metric': [{'type': 'TOTAL', 'count': 5201, 'amount': 6655473.0}]},
   {'name': 'hooghly district',
    'metric': [{'type': 'TOTAL', 'count': 4025, 'amount': 5665468.0}]},
   {'name': 'kolkata district',
    'metric': [{'type': 'TOTAL', 'count': 12306, 'amount': 16022532.0}]},
   {'name': 'koch bihar district',
    'metric': [{'type': 'TOTAL', 'count': 1171, 'amount': 1553342.0}]},
   {'name': 'alipurduar district',
    'metric': [{'type': 'TOTAL', 'count': 766, 'amount': 1278792.0}]},
   {'name': 'paschim bardhaman district',
    'metric': [{'type': 'TOTAL', 'count': 4095, 'amount': 5823988.0}]},
   {'name': 'nadia district',
    'metric': [{'type': 'TOTAL', 'count': 2786, 'amount': 4012958.0}]},
   {'name': 'birbhum district',
    'metric': [{'type': 'TOTAL', 'count': 1162, 'amount': 1720043.0}]},
   {'name': 'purba medinipur district',
    'metric': [{'type': 'TOTAL', 'count': 2507, 'amount': 3400040.0}]},
   {'name': 'maldah district',
    'metric': [{'type': 'TOTAL', 'count': 2886, 'amount': 3998317.0}]},
   {'name': 'darjiling district',
    'metric': [{'type': 'TOTAL', 'count': 2762, 'amount': 4044883.0}]}]},
 'responseTimestamp': 1706092874438}

In [9]:
map_insurance["States"].unique()

array(['Andaman & Nicobar', 'Andhra Pradesh', 'Arunachal Pradesh',
       'Assam', 'Bihar', 'Chandigarh', 'Chhattisgarh',
       'Dadra and Nagar Haveli and Daman and Diu', 'Delhi', 'Goa',
       'Gujarat', 'Haryana', 'Himachal Pradesh', 'Jammu & Kashmir',
       'Jharkhand', 'Karnataka', 'Kerala', 'Ladakh', 'Lakshadweep',
       'Madhya Pradesh', 'Maharashtra', 'Manipur', 'Meghalaya', 'Mizoram',
       'Nagaland', 'Odisha', 'Puducherry', 'Punjab', 'Rajasthan',
       'Sikkim', 'Tamil Nadu', 'Telangana', 'Tripura', 'Uttar Pradesh',
       'Uttarakhand', 'West Bengal'], dtype=object)

In [11]:
#Collecting data from map_transaction

path5="K:/DS/pulse/data/map/transaction/hover/country/india/state/"

map_transaction_list= os.listdir(path5)

columns5={"States":[], "Years":[], "Quarters":[], "Districts":[], "Count":[], "Amount":[]}

for state in map_transaction_list:
    current_states=path5+state+"/" 
    # print(current_states)
    aggregated_year_list=os.listdir(current_states)
    # print(aggregated_year_list)

    for year in aggregated_year_list:
        current_year=current_states+year+"/"
        #print(current_year)
        aggregated_quarts_list=os.listdir(current_year)
        #print(aggregated_quarts_list)

        for quarts in aggregated_quarts_list:
            current_quarts=current_year+quarts
            data=open(current_quarts,"r")

            E = json.load(data)
            # print(C)

            for i in E["data"]["hoverDataList"]:
                    #print(i)
                    name=i["name"]
                    # print(name)
                    count=i["metric"][0]["count"]
                    amount=i["metric"][0]["amount"]
                    columns5["Districts"].append(name)
                    columns5["Count"].append(count)
                    columns5["Amount"].append(amount)
                    columns5["States"].append(state)
                    columns5["Years"].append(year)
                    columns5["Quarters"].append(int(quarts.strip(".json")))    

map_transaction=pd.DataFrame(columns5)

map_transaction["States"]=map_transaction["States"].str.replace('andaman-&-nicobar-islands', 'Andaman & Nicobar')
map_transaction["States"]=map_transaction["States"].str.replace("-"," ")
map_transaction["States"]=map_transaction["States"].str.title()
map_transaction["States"]=map_transaction["States"].str.replace('Dadra & Nagar Haveli & Daman & Diu','Dadra and Nagar Haveli and Daman and Diu')

In [12]:
E

{'success': True,
 'code': 'SUCCESS',
 'data': {'hoverDataList': [{'name': 'south twenty four parganas district',
    'metric': [{'type': 'TOTAL', 'count': 46005273, 'amount': 84336068028.0}]},
   {'name': 'purba bardhaman district',
    'metric': [{'type': 'TOTAL', 'count': 25307278, 'amount': 46222754762.0}]},
   {'name': 'uttar dinajpur district',
    'metric': [{'type': 'TOTAL', 'count': 20875132, 'amount': 39402567832.0}]},
   {'name': 'kalimpong district',
    'metric': [{'type': 'TOTAL', 'count': 1020977, 'amount': 1773275202.0}]},
   {'name': 'murshidabad district',
    'metric': [{'type': 'TOTAL',
      'count': 50879757,
      'amount': 105157575181.0}]},
   {'name': 'paschim medinipur district',
    'metric': [{'type': 'TOTAL', 'count': 35655256, 'amount': 59683038663.0}]},
   {'name': 'dakshin dinajpur district',
    'metric': [{'type': 'TOTAL', 'count': 7166857, 'amount': 13485333009.0}]},
   {'name': 'jalpaiguri district',
    'metric': [{'type': 'TOTAL', 'count': 12000864, 'amount': 18745844513.0}]},
   {'name': 'purulia district',
    'metric': [{'type': 'TOTAL', 'count': 15423000, 'amount': 17556222940.0}]},
   {'name': 'north twenty four parganas district',
    'metric': [{'type': 'TOTAL',
      'count': 128343164,
      'amount': 186466249070.0}]},
   {'name': 'bankura district',
    'metric': [{'type': 'TOTAL', 'count': 16137559, 'amount': 25680272158.0}]},
   {'name': 'jhargram district',
    'metric': [{'type': 'TOTAL', 'count': 4442766, 'amount': 6518245508.0}]},
   {'name': 'howrah district',
    'metric': [{'type': 'TOTAL', 'count': 36819833, 'amount': 66863193097.0}]},
   {'name': 'hooghly district',
    'metric': [{'type': 'TOTAL', 'count': 36891845, 'amount': 64164679961.0}]},
   {'name': 'kolkata district',
    'metric': [{'type': 'TOTAL',
      'count': 89301671,
      'amount': 144473684080.0}]},
   {'name': 'koch bihar district',
    'metric': [{'type': 'TOTAL', 'count': 18739153, 'amount': 27323770490.0}]},
   {'name': 'alipurduar district',
    'metric': [{'type': 'TOTAL', 'count': 8527730, 'amount': 13961721747.0}]},
   {'name': 'paschim bardhaman district',
    'metric': [{'type': 'TOTAL', 'count': 35429318, 'amount': 49952764850.0}]},
   {'name': 'nadia district',
    'metric': [{'type': 'TOTAL', 'count': 36242432, 'amount': 68795681276.0}]},
   {'name': 'birbhum district',
    'metric': [{'type': 'TOTAL', 'count': 20708496, 'amount': 36904986734.0}]},
   {'name': 'purba medinipur district',
    'metric': [{'type': 'TOTAL', 'count': 40572042, 'amount': 79819903794.0}]},
   {'name': 'maldah district',
    'metric': [{'type': 'TOTAL', 'count': 34654950, 'amount': 64167285922.0}]},
   {'name': 'darjiling district',
    'metric': [{'type': 'TOTAL',
      'count': 16807885,
      'amount': 27939857261.0}]}]},
 'responseTimestamp': 1706092732482}

In [11]:
map_transaction["States"].unique()

array(['Andaman & Nicobar', 'Andhra Pradesh', 'Arunachal Pradesh',
       'Assam', 'Bihar', 'Chandigarh', 'Chhattisgarh',
       'Dadra and Nagar Haveli and Daman and Diu', 'Delhi', 'Goa',
       'Gujarat', 'Haryana', 'Himachal Pradesh', 'Jammu & Kashmir',
       'Jharkhand', 'Karnataka', 'Kerala', 'Ladakh', 'Lakshadweep',
       'Madhya Pradesh', 'Maharashtra', 'Manipur', 'Meghalaya', 'Mizoram',
       'Nagaland', 'Odisha', 'Puducherry', 'Punjab', 'Rajasthan',
       'Sikkim', 'Tamil Nadu', 'Telangana', 'Tripura', 'Uttar Pradesh',
       'Uttarakhand', 'West Bengal'], dtype=object)

In [13]:
#Collecting data from map_user

path6="K:/DS/pulse/data/map/user/hover/country/india/state/"

map_user_list= os.listdir(path6)

columns6={"States":[], "Years":[], "Quarters":[], "Districts":[], "Registered_Users":[], "App_Opens":[]}

for state in map_user_list:
    current_states=path6+state+"/" 
    aggregated_year_list=os.listdir(current_states)
    
    for year in aggregated_year_list:
        current_year=current_states+year+"/"
        aggregated_quarts_list=os.listdir(current_year)
        
        for quarts in aggregated_quarts_list:
            current_quarts=current_year+quarts
            data=open(current_quarts,"r")

            F = json.load(data)

            try:
            
                for i in F["data"]["hoverData"].items():
                    districts=i[0]
                    registeredUsers=i[1]["registeredUsers"]
                    appopens=i[1]["appOpens"]
                    columns6["Districts"].append(districts)
                    columns6["Registered_Users"].append(registeredUsers)
                    columns6["App_Opens"].append(appopens)
                    columns6["States"].append(state)
                    columns6["Years"].append(year)
                    columns6["Quarters"].append(int(quarts.strip(".json")))    
            except:
                pass

map_user=pd.DataFrame(columns6)

map_user["States"]=map_user["States"].str.replace('andaman-&-nicobar-islands', 'Andaman & Nicobar')
map_user["States"]=map_user["States"].str.replace("-"," ")
map_user["States"]=map_user["States"].str.title()
map_user["States"]=map_user["States"].str.replace('Dadra & Nagar Haveli & Daman & Diu','Dadra and Nagar Haveli and Daman and Diu')

In [14]:
F

{'success': True,
 'code': 'SUCCESS',
 'data': {'hoverData': {'south twenty four parganas district': {'registeredUsers': 2154289,
    'appOpens': 111103321},
   'purba bardhaman district': {'registeredUsers': 1321422,
    'appOpens': 60531604},
   'uttar dinajpur district': {'registeredUsers': 686351,
    'appOpens': 59519903},
   'kalimpong district': {'registeredUsers': 63057, 'appOpens': 4888327},
   'murshidabad district': {'registeredUsers': 2100695, 'appOpens': 116976651},
   'paschim medinipur district': {'registeredUsers': 1437662,
    'appOpens': 58861738},
   'dakshin dinajpur district': {'registeredUsers': 488888,
    'appOpens': 21098761},
   'jalpaiguri district': {'registeredUsers': 443804, 'appOpens': 30120250},
   'purulia district': {'registeredUsers': 740950, 'appOpens': 41863889},
   'north twenty four parganas district': {'registeredUsers': 4396190,
    'appOpens': 179735656},
   'bankura district': {'registeredUsers': 1082170, 'appOpens': 41621227},
   'jhargram district': {'registeredUsers': 208933, 'appOpens': 10686793},
   'howrah district': {'registeredUsers': 1669556, 'appOpens': 74185370},
   'hooghly district': {'registeredUsers': 1855311, 'appOpens': 71031013},
   'kolkata district': {'registeredUsers': 3159912, 'appOpens': 134474132},
   'koch bihar district': {'registeredUsers': 639234, 'appOpens': 46647731},
   'alipurduar district': {'registeredUsers': 308491, 'appOpens': 22586494},
   'paschim bardhaman district': {'registeredUsers': 1307045,
    'appOpens': 64640169},
   'nadia district': {'registeredUsers': 1603527, 'appOpens': 67224546},
   'birbhum district': {'registeredUsers': 1013025, 'appOpens': 52281841},
   'purba medinipur district': {'registeredUsers': 1589203,
    'appOpens': 69991821},
   'maldah district': {'registeredUsers': 1134600, 'appOpens': 88292475},
   'darjiling district': {'registeredUsers': 660231, 'appOpens': 39079247}}},
 'responseTimestamp': 1706092808044}

In [14]:
map_user

,States,Years,Quarters,Districts,Registered_Users,App_Opens
0,Andaman & Nicobar,2018,1,north and middle andaman district,632,0
1,Andaman & Nicobar,2018,1,south andaman district,5846,0
2,Andaman & Nicobar,2018,1,nicobars district,262,0
3,Andaman & Nicobar,2018,2,north and middle andaman district,911,0
4,Andaman & Nicobar,2018,2,south andaman district,8143,0
...,...,...,...,...,...,...
17563,West Bengal,2023,4,nadia district,1603527,67224546
17564,West Bengal,2023,4,birbhum district,1013025,52281841
17565,West Bengal,2023,4,purba medinipur district,1589203,69991821
17566,West Bengal,2023,4,maldah district,1134600,88292475
17567,West Bengal,2023,4,darjiling district,660231,39079247

In [15]:
#Collecting data from top_insurance

path7="K:/DS/pulse/data/top/insurance/country/india/state/"

top_insurance_list= os.listdir(path7)

columns7={"States":[], "Years":[], "Quarters":[], "Pincodes":[], "Count":[], "Amount":[]}

for state in top_insurance_list:
    current_states=path7+state+"/" 
    aggregated_year_list=os.listdir(current_states)
    
    for year in aggregated_year_list:
        current_year=current_states+year+"/"
        aggregated_quarts_list=os.listdir(current_year)
        
        for quarts in aggregated_quarts_list:
            current_quarts=current_year+quarts
            data=open(current_quarts,"r")

            G = json.load(data)
            
            for i in G["data"]["pincodes"]:
                entityname=i["entityName"]
                count=i["metric"]["count"]
                amount=i["metric"]["amount"]
                columns7["Pincodes"].append(entityname)
                columns7["Count"].append(count)
                columns7["Amount"].append(amount)
                columns7["States"].append(state)
                columns7["Years"].append(year)
                columns7["Quarters"].append(int(quarts.strip(".json"))) 

top_insurance=pd.DataFrame(columns7)

top_insurance["States"]=top_insurance["States"].str.replace('andaman-&-nicobar-islands', 'Andaman & Nicobar')
top_insurance["States"]=top_insurance["States"].str.replace("-"," ")
top_insurance["States"]=top_insurance["States"].str.title()
top_insurance["States"]=top_insurance["States"].str.replace('Dadra & Nagar Haveli & Daman & Diu','Dadra and Nagar Haveli and Daman and Diu')

In [16]:
G

{'success': True,
 'code': 'SUCCESS',
 'data': {'states': None,
  'districts': [{'entityName': 'north twenty four parganas',
    'metric': {'type': 'TOTAL', 'count': 13483, 'amount': 19211808.0}},
   {'entityName': 'kolkata',
    'metric': {'type': 'TOTAL', 'count': 12306, 'amount': 16022532.0}},
   {'entityName': 'south twenty four parganas',
    'metric': {'type': 'TOTAL', 'count': 5415, 'amount': 6996283.0}},
   {'entityName': 'howrah',
    'metric': {'type': 'TOTAL', 'count': 5201, 'amount': 6655473.0}},
   {'entityName': 'paschim bardhaman',
    'metric': {'type': 'TOTAL', 'count': 4095, 'amount': 5823988.0}},
   {'entityName': 'hooghly',
    'metric': {'type': 'TOTAL', 'count': 4025, 'amount': 5665468.0}},
   {'entityName': 'paschim medinipur',
    'metric': {'type': 'TOTAL', 'count': 3442, 'amount': 4688055.0}},
   {'entityName': 'maldah',
    'metric': {'type': 'TOTAL', 'count': 2886, 'amount': 3998317.0}},
   {'entityName': 'nadia',
    'metric': {'type': 'TOTAL', 'count': 2786, 'amount': 4012958.0}},
   {'entityName': 'darjiling',
    'metric': {'type': 'TOTAL', 'count': 2762, 'amount': 4044883.0}}],
  'pincodes': [{'entityName': '700156',
    'metric': {'type': 'TOTAL', 'count': 699, 'amount': 1054625.0}},
   {'entityName': '734006',
    'metric': {'type': 'TOTAL', 'count': 647, 'amount': 771414.0}},
   {'entityName': '711101',
    'metric': {'type': 'TOTAL', 'count': 644, 'amount': 689473.0}},
   {'entityName': '700039',
    'metric': {'type': 'TOTAL', 'count': 594, 'amount': 739443.0}},
   {'entityName': '732101',
    'metric': {'type': 'TOTAL', 'count': 585, 'amount': 699180.0}},
   {'entityName': '700135',
    'metric': {'type': 'TOTAL', 'count': 556, 'amount': 939622.0}},
   {'entityName': '700091',
    'metric': {'type': 'TOTAL', 'count': 535, 'amount': 767163.0}},
   {'entityName': '700015',
    'metric': {'type': 'TOTAL', 'count': 521, 'amount': 683025.0}},
   {'entityName': '700059',
    'metric': {'type': 'TOTAL', 'count': 518, 'amount': 843045.0}},
   {'entityName': '711102',
    'metric': {'type': 'TOTAL', 'count': 517, 'amount': 769517.0}}]},
 'responseTimestamp': 1706092874602}

In [16]:
top_insurance["States"].unique()

array(['Andaman & Nicobar', 'Andhra Pradesh', 'Arunachal Pradesh',
       'Assam', 'Bihar', 'Chandigarh', 'Chhattisgarh',
       'Dadra and Nagar Haveli and Daman and Diu', 'Delhi', 'Goa',
       'Gujarat', 'Haryana', 'Himachal Pradesh', 'Jammu & Kashmir',
       'Jharkhand', 'Karnataka', 'Kerala', 'Ladakh', 'Lakshadweep',
       'Madhya Pradesh', 'Maharashtra', 'Manipur', 'Meghalaya', 'Mizoram',
       'Nagaland', 'Odisha', 'Puducherry', 'Punjab', 'Rajasthan',
       'Sikkim', 'Tamil Nadu', 'Telangana', 'Tripura', 'Uttar Pradesh',
       'Uttarakhand', 'West Bengal'], dtype=object)

In [138]:
# top_insurance=pd.DataFrame(columns7)
# top_insurance

In [139]:
# print(G["data"]["districts"][0]["entityName"])
# print(G["data"]["districts"][0]["metric"])
# G

In [17]:
#Collecting data from top_transaction

path8="K:/DS/pulse/data/top/transaction/country/india/state/"

top_transaction_list= os.listdir(path8)

columns8={"States":[], "Years":[], "Quarters":[], "Pincodes":[], "Count":[], "Amount":[]}

for state in top_transaction_list:
    current_states=path8+state+"/" 
    aggregated_year_list=os.listdir(current_states)
    
    for year in aggregated_year_list:
        current_year=current_states+year+"/"
        aggregated_quarts_list=os.listdir(current_year)
        
        for quarts in aggregated_quarts_list:
            current_quarts=current_year+quarts
            data=open(current_quarts,"r")

            H = json.load(data)
            
            for i in H["data"]["pincodes"]:
                entityname=i["entityName"]
                count=i["metric"]["count"]
                amount=i["metric"]["amount"]
                columns8["Pincodes"].append(entityname)
                columns8["Count"].append(count)
                columns8["Amount"].append(amount)
                columns8["States"].append(state)
                columns8["Years"].append(year)
                columns8["Quarters"].append(int(quarts.strip(".json")))

top_transaction=pd.DataFrame(columns8)

top_transaction["States"]=top_transaction["States"].str.replace('andaman-&-nicobar-islands', 'Andaman & Nicobar')
top_transaction["States"]=top_transaction["States"].str.replace("-"," ")
top_transaction["States"]=top_transaction["States"].str.title()
top_transaction["States"]=top_transaction["States"].str.replace('Dadra & Nagar Haveli & Daman & Diu','Dadra and Nagar Haveli and Daman and Diu')

In [18]:
H

{'success': True,
 'code': 'SUCCESS',
 'data': {'states': None,
  'districts': [{'entityName': 'north twenty four parganas',
    'metric': {'type': 'TOTAL', 'count': 128343164, 'amount': 186466249070.0}},
   {'entityName': 'kolkata',
    'metric': {'type': 'TOTAL', 'count': 89301671, 'amount': 144473684080.0}},
   {'entityName': 'murshidabad',
    'metric': {'type': 'TOTAL', 'count': 50879757, 'amount': 105157575181.0}},
   {'entityName': 'south twenty four parganas',
    'metric': {'type': 'TOTAL', 'count': 46005273, 'amount': 84336068028.0}},
   {'entityName': 'purba medinipur',
    'metric': {'type': 'TOTAL', 'count': 40572042, 'amount': 79819903794.0}},
   {'entityName': 'hooghly',
    'metric': {'type': 'TOTAL', 'count': 36891845, 'amount': 64164679961.0}},
   {'entityName': 'howrah',
    'metric': {'type': 'TOTAL', 'count': 36819833, 'amount': 66863193097.0}},
   {'entityName': 'nadia',
    'metric': {'type': 'TOTAL', 'count': 36242432, 'amount': 68795681276.0}},
   {'entityName': 'paschim medinipur',
    'metric': {'type': 'TOTAL', 'count': 35655256, 'amount': 59683038663.0}},
   {'entityName': 'paschim bardhaman',
    'metric': {'type': 'TOTAL', 'count': 35429318, 'amount': 49952764850.0}}],
  'pincodes': [{'entityName': '700156',
    'metric': {'type': 'TOTAL', 'count': 8786298, 'amount': 7815868697.0}},
   {'entityName': '700135',
    'metric': {'type': 'TOTAL', 'count': 7170174, 'amount': 8880357042.0}},
   {'entityName': '700091',
    'metric': {'type': 'TOTAL', 'count': 5884190, 'amount': 4935076443.0}},
   {'entityName': '711101',
    'metric': {'type': 'TOTAL', 'count': 5092876, 'amount': 10012668632.0}},
   {'entityName': '700006',
    'metric': {'type': 'TOTAL', 'count': 4216394, 'amount': 7851936248.0}},
   {'entityName': '721301',
    'metric': {'type': 'TOTAL', 'count': 4133775, 'amount': 5718222071.0}},
   {'entityName': '700001',
    'metric': {'type': 'TOTAL', 'count': 3983241, 'amount': 8039688940.0}},
   {'entityName': '732125',
    'metric': {'type': 'TOTAL', 'count': 3950411, 'amount': 6557344712.0}},
   {'entityName': '700039',
    'metric': {'type': 'TOTAL', 'count': 3742452, 'amount': 5608622243.0}},
   {'entityName': '700014',
    'metric': {'type': 'TOTAL', 'count': 3652710, 'amount': 6184795262.0}}]},
 'responseTimestamp': 1706092732830}

In [18]:
top_transaction["States"].unique()

array(['Andaman & Nicobar', 'Andhra Pradesh', 'Arunachal Pradesh',
       'Assam', 'Bihar', 'Chandigarh', 'Chhattisgarh',
       'Dadra and Nagar Haveli and Daman and Diu', 'Delhi', 'Goa',
       'Gujarat', 'Haryana', 'Himachal Pradesh', 'Jammu & Kashmir',
       'Jharkhand', 'Karnataka', 'Kerala', 'Ladakh', 'Lakshadweep',
       'Madhya Pradesh', 'Maharashtra', 'Manipur', 'Meghalaya', 'Mizoram',
       'Nagaland', 'Odisha', 'Puducherry', 'Punjab', 'Rajasthan',
       'Sikkim', 'Tamil Nadu', 'Telangana', 'Tripura', 'Uttar Pradesh',
       'Uttarakhand', 'West Bengal'], dtype=object)

In [19]:
#Collecting data from top_user

path9="K:/DS/pulse/data/top/user/country/india/state/"

top_user_list= os.listdir(path9)

columns9={"States":[], "Years":[], "Quarters":[], "Pincodes":[], "Registered_Users":[]}

for state in top_user_list:
    current_states=path9+state+"/" 
    aggregated_year_list=os.listdir(current_states)
    
    for year in aggregated_year_list:
        current_year=current_states+year+"/"
        aggregated_quarts_list=os.listdir(current_year)
        
        for quarts in aggregated_quarts_list:
            current_quarts=current_year+quarts
            data=open(current_quarts,"r")

            I = json.load(data)
            
            for i in I["data"]["pincodes"]:
                entityname=i["name"]
                registeredusers=i["registeredUsers"]
                columns9["Pincodes"].append(entityname)
                columns9["Registered_Users"].append(registeredusers)
                columns9["States"].append(state)
                columns9["Years"].append(year)
                columns9["Quarters"].append(int(quarts.strip(".json")))

top_user=pd.DataFrame(columns9)

top_user["States"]=top_user["States"].str.replace('andaman-&-nicobar-islands', 'Andaman & Nicobar')
top_user["States"]=top_user["States"].str.replace("-"," ")
top_user["States"]=top_user["States"].str.title()
top_user["States"]=top_user["States"].str.replace('Dadra & Nagar Haveli & Daman & Diu','Dadra and Nagar Haveli and Daman and Diu')

In [20]:
I

{'success': True,
 'code': 'SUCCESS',
 'data': {'states': None,
  'districts': [{'name': 'north twenty four parganas',
    'registeredUsers': 4396190},
   {'name': 'kolkata', 'registeredUsers': 3159912},
   {'name': 'south twenty four parganas', 'registeredUsers': 2154289},
   {'name': 'murshidabad', 'registeredUsers': 2100695},
   {'name': 'hooghly', 'registeredUsers': 1855311},
   {'name': 'howrah', 'registeredUsers': 1669556},
   {'name': 'nadia', 'registeredUsers': 1603527},
   {'name': 'purba medinipur', 'registeredUsers': 1589203},
   {'name': 'paschim medinipur', 'registeredUsers': 1437662},
   {'name': 'purba bardhaman', 'registeredUsers': 1321422}],
  'pincodes': [{'name': '711101', 'registeredUsers': 190311},
   {'name': '700006', 'registeredUsers': 161415},
   {'name': '700135', 'registeredUsers': 146345},
   {'name': '700156', 'registeredUsers': 132452},
   {'name': '700039', 'registeredUsers': 127254},
   {'name': '700015', 'registeredUsers': 126663},
   {'name': '742304', 'registeredUsers': 123320},
   {'name': '721101', 'registeredUsers': 123088},
   {'name': '700150', 'registeredUsers': 119283},
   {'name': '700091', 'registeredUsers': 118578}]},
 'responseTimestamp': 1706092808273}

In [20]:
top_user["States"].unique()

array(['Andaman & Nicobar', 'Andhra Pradesh', 'Arunachal Pradesh',
       'Assam', 'Bihar', 'Chandigarh', 'Chhattisgarh',
       'Dadra and Nagar Haveli and Daman and Diu', 'Delhi', 'Goa',
       'Gujarat', 'Haryana', 'Himachal Pradesh', 'Jammu & Kashmir',
       'Jharkhand', 'Karnataka', 'Kerala', 'Ladakh', 'Lakshadweep',
       'Madhya Pradesh', 'Maharashtra', 'Manipur', 'Meghalaya', 'Mizoram',
       'Nagaland', 'Odisha', 'Puducherry', 'Punjab', 'Rajasthan',
       'Sikkim', 'Tamil Nadu', 'Telangana', 'Tripura', 'Uttar Pradesh',
       'Uttarakhand', 'West Bengal'], dtype=object)

In [144]:
# print(I["data"]["pincodes"])
# print(I["data"]["pincodes"][0]["name"])
# print(I["data"]["pincodes"][0]["registeredUsers"])

In [145]:
# # columns9
# top_user=pd.DataFrame(columns9)
# top_user

In [11]:
#Table creation

#SQL Connection

mydb = mysql.connector.connect(
    host = '127.0.0.1', 
    user = 'root', 
    password = 'tk09091996', 
    database = 'phonepev5' 
)
mycursor = mydb.cursor()

#aggregated_insurance - Table 1

mycursor.execute("Create Table if not exists aggregated_insurance(states varchar(255), years int, quarters int, trans_type varchar(255), trans_count bigint, trans_amount float)")
data=aggregated_insurance.values.tolist()
mycursor.executemany(("Insert into aggregated_insurance(States, Years, Quarters, Trans_type, Trans_count,Trans_amount) values(%s, %s, %s, %s, %s, %s)"),data)
mydb.commit()

#aggregated_transaction - Table 2

mycursor.execute("Create Table if not exists aggregated_transaction(states varchar(255), years int, quarters int, trans_type varchar(255), trans_count bigint, trans_amount float)")
data=aggregated_transaction.values.tolist()
mycursor.executemany(("Insert into aggregated_transaction(States, Years, Quarters, Trans_type, Trans_count,Trans_amount) values(%s, %s, %s, %s, %s, %s)"),data)
mydb.commit()

#aggregated_user - Table 3

mycursor.execute("Create Table if not exists aggregated_user(states varchar(255), years int, quarters int, brand varchar(255), count bigint, percentage float)")
data=aggregated_user.values.tolist()
mycursor.executemany(("Insert into aggregated_user(States, Years, Quarters, Brand, count, Percentage) values(%s, %s, %s, %s, %s, %s)"),data)
mydb.commit()

#map_insurance - Table 4

mycursor.execute("Create Table if not exists map_insurance(states varchar(255), years int, quarters int, districts varchar(255), count bigint, amount float)")
data=map_insurance.values.tolist()
mycursor.executemany(("Insert into map_insurance(States, Years, Quarters, Districts, Count, Amount) values(%s, %s, %s, %s, %s, %s)"),data)
mydb.commit()

#map_transaction - Table 5

mycursor.execute("Create Table if not exists map_transaction(states varchar(255), years int, quarters int, districts varchar(255), count bigint, amount float)")
data=map_transaction.values.tolist()
mycursor.executemany(("Insert into map_transaction(States, Years, Quarters, Districts, Count, Amount) values(%s, %s, %s, %s, %s, %s)"),data)
mydb.commit()

#map_user - Table 6

mycursor.execute("Create Table if not exists map_user(states varchar(255), years int, quarters int, districts varchar(255), Registered_Users bigint, App_Opens bigint)")
data=map_user.values.tolist()
mycursor.executemany(("Insert into map_user(States, Years, Quarters, Districts, Registered_Users, App_Opens) values(%s, %s, %s, %s, %s, %s)"),data)
mydb.commit()

#top_insurance - Table 7

mycursor.execute("Create Table if not exists top_insurance(states varchar(255), years int, quarters int, Pincodes int, count bigint, amount float)")
data=top_insurance.values.tolist()
mycursor.executemany(("Insert into top_insurance(States, Years, Quarters, Pincodes, Count, Amount) values(%s, %s, %s, %s, %s, %s)"),data)
mydb.commit()

#top_transaction - Table 8

mycursor.execute("Create Table if not exists top_transaction(states varchar(255), years int, quarters int, Pincodes int, count bigint, amount float)")
data=top_transaction.values.tolist()
mycursor.executemany(("Insert into top_transaction(States, Years, Quarters, Pincodes, Count, Amount) values(%s, %s, %s, %s, %s, %s)"),data)
mydb.commit()

#top_user - Table 9

mycursor.execute("Create Table if not exists top_user(states varchar(255), years int, quarters int, Pincodes int, Registered_Users bigint)")
data=top_user.values.tolist()
mycursor.executemany(("Insert into top_user(States, Years, Quarters, Pincodes, Registered_Users) values(%s, %s, %s, %s, %s)"),data)
mydb.commit()